
body { 
    color: brown;
    background-color: burlywood;
}

h1 {
    align-self: auto; 
    font-size: 60px;
    color: rgba(58, 28, 0, 0.904);
    font-family: 'Pacifico', cursive;
    border: 1px solid black;
 }

 p {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 40px;
    border: 1px;
}
